@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Gamja flower', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.question-image {
  width: 400px;
  height: 400px;
}

#start > button {
  margin-top: 1vh;
}

.content {
  width: 100vw;
  max-width: 65rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5vw 0 5vw;
}

#result > #qu {
  color: rgb(255, 140, 0);
  font-size: 1.5rem;
}

#start > img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 5vw auto 0 auto;
}

#title > img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 3vw auto 0 auto;
}

.img1 {
  position: relative;
  margin-left: 350px;
}

#start > p {
  font-size: 2.5rem;
  margin-top: 5vh;
  color: orange;
}

#start > #maker {
  font-size: 1rem;
  color: black;
}

#start > #require {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
}

#question > #pgrNum {
  text-align: left;
  margin-top: 3vh;
}

#question > #title {
  width: 100%;
  height: 8vh;
  margin: 5vh 0 1vh 0;
  font-size: 1.5rem;
}

#question > button {
  height: 8vh;
  margin-top: 5vh;
}

#result > #img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 10vw auto 0 auto;
  object-fit: cover;
}

#result > #mbti {
  font-size: 1.5em;
}

#result > .result-btn {
  display: flex;
  flex-direction: column;
}

.result-btn button {
  font-size: 1.5rem;
  background-color: #ffc107;
  border: none;
}

.result-btn button:hover {
  background-color: #e0a800;
}
